.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.footer1{
  background-color: rgb(250, 240, 227);
}


.row1{
  background-color: black;
  background-size: 40px;

}

.nav1{
color: black;
}

.C1{
 
  height: 100%;
  width: 100%;
  

}
.C2{
 
 height: 120%;
  width: 150%;
}
.C3{
  
  height: 120%;
  width: 100%;
}
.C4{
 
  height: 120%;
  width: 110%;
}
.C5{
 
  height: 100%;
  width: 100%;
}
.C6{
 
  height: 100%;
  width: 100%;
}
.C7{
  
  height: 100%;
  width: 100%;
}
.C8{
  
  height: 50%;
  width: auto;
}
.C9{
   
  height: 100%;
  width: 100%;
}
.C10{
  
  height: 100%;
  width: 100%;
}
.C11{
  
  height: 100%;
  width: 100%;
}
.C12{
 
  height: 100%;
  width: 100%;
}
.C13{
 
  height: 100%;
  width: 100%;
}
.C14{
 
  height: 100%;
  width: 100%;
}
.C15{
 
  height: 100%;
  width: 100%;
}